<%= simple_form_for [@offer, @investment] do |f| %>
  <%= f.input :amount, :label => 'Número de quotas:', :required =>false, input_html: { min: '0', max: @max }  %>
  <p>Preço unitário da quota do investimento: R$<%= @offer.pu %>,00</p>
  <div style="margin: auto; justify-content: space-around;align-items:  center;display:  flex;">
    <%= f.submit "Investir", class: "btn btn-primary" %>
  </div>
<% end %>
