.adm-painel{
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: absolute;
  left: 0px;
  top: 70px;
  background-color: white;



  h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    font-weight: 700;
    color: $orange;
  }


}
