<div class="banner banner-landing-page3 devise-container2" style="background-size: cover;">
  <div class="banner-text2">
      <h1 class="make-inline">Seleção de Empresas</h1>
      <h2 class="make-inline">Estamos a sua espera para buscar os recursos necessários para acelerar o crescimento da sua empresa.</h2>

      <form action="/subscribers/new">
        <div class="banner-submit-button-wrapper" >
          <input type="submit" class="btn btn-primary button-banner button-lp-positon" id="banner-surprise-me-button" value="APLICAR" style="background-color: red;">
        </div>
      </form>
  </div>
</div>
