


<div class="banner banner-landing-page2 devise-container2" style="background-size: cover;">
  <div class="devise-content-container" style="margin:40px;">
    <h2 style="color:black;">Cadastre-se aqui.</h2>
    <p style="color:black;">Receba as novas opções de investimentos em primeira mão.</p>


   <%= form_for :subscriber, url: subscribers_path do |f| %>
     <span><label for="email" style="color:black;">Email</label></span>
     <div class="form-inputs">
     <%= f.text_field :email, class: 'form-control', placeholder: 'Insira aqui o seu email.' %>
     </div>

     <div class="form-actions">
     <%= f.submit "Cadastre-se", {class: "button-form--next2 "}%>
     </div>

   <%end%>
  </div>
</div>
