
<div class="body22">
  <div class="subcribe">

    <h1 class='name' style="font-size: 36px;">CADASTRE-SE!</h1>
    <p style="font-size: 22px;">Receba as novas opções de investimentos em primeira mão.</p>

      <%= form_for :subscriber, url: subscribers_path do |f| %>
       <div class="aside">
       <%= f.text_field :email, class: 'input22', placeholder: 'Insira aqui o seu email.' %>
       <%= f.submit "ok", {class: "send"}%>
       </div>

     <%end%>

  </div>
</div>
