<div class="banner banner-landing-page">
  <div class="banner-text">

    <div class="banner-input-field-outside">
     <h1>Input: cents</h1>
    </div>
    <h2 class="banner-input-field--same-line-text"></h2>
    <h2>Output: dollars</h2>
    <h1 class="make-inline">Investimentos sofisticados ao SEU alcance!</h1>


    <!-- <div class="banner-input-field-outside">
      <h2><span class="banner-input-field banner-input-field--same-line-text" contenteditable="true" id="banner-city-input-visible">Your City</span></h2>
    </div> -->
<form action="/subscribers/new">
  <div class="banner-submit-button-wrapper" >
    <input type="submit" class="btn btn-primary button-banner button-lp-positon" id="banner-surprise-me-button" value="QUERO INVESTIR" style="
    background-color: red;">
  </div>
</form>
</div>
  </div>

