<div class="hiw">
  <h2 style="color:#696969;">convexit |YC| apital<span class="point-orange">.</span></h2>
  <h3 style="color:#696969;">Exponha-se a convexidade: ganhos ilimitados e perdas controladas. Corra o risco de se tornar sócio da próxima startup que irá mudar o mundo:</h3>

  <div class="card-how-to--left-top">
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <div class="index-number" id="hiw-destination-unknown-number">
          <h5>1</h5>
          <div class="card-image" id="hiw-destination-unknown">
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12">
        <div class="card-text">
          <div>
            <h1 style="color:black;">Cadastre-se no nosso site </h1>
            <p style="color:black;">É simples, rápido e de graça. Com o <%= link_to "cadastro", new_user_registration_path %> no nosso site, você estará apto a conhecer os detalhes das melhores opções de investimentos alternativos antes restritas apenas a grandes fundos e pessoas muito ricas. É o início da democratização dos investimentos em novas empresas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="card-how-to--right">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <div class="card-text">
          <div>
            <h1 class="text-right" style="color:black;">Escolha uma startup.</h1>
            <p class="text-right" style="color:black;">Com os dados disponíveis apenas para nossos usuários, você poderá <%= link_to "escolher", offers_path %> a empresa em que quer investir de forma simples e segura.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-xs-12">
        <div class="index-number" id="hiw-relax-number">
          <div class="card-image" id="hiw-relax">
          </div>
          <h5>2</h5>
        </div>
      </div>
    </div>
  </div>


<div class="card-how-to--left-bottom">
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <div class="index-number" id="hiw-trip-number">
          <h5>3</h5>
          <div class="card-image" id="hiw-trip">
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12">
        <div class="card-text">
          <div>
            <h1 style="color:black;">Invista online.</h1>
            <p style="color:black;">Pronto, agora basta confirmar o total do seu investimento e você já terá uma startup para chamar de sua. Bem vindo ao mundo da convexidade.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

