<div class="testimonials">

  <h2>Invista Agora<span class="point-orange">.</span></h2>
  <h3>Veja abaixo todas as melhores opções de investimentos disponíveis no momento:</h3>


  <div class="row">

    <% @posts.each do |post| %>
      <% if post.purpose=="promo" %>
        <%= link_to post_path(post) do %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" >
             <div class="card-testimonial card-testimonial" style="background-image:linear-gradient(-225deg, rgba(30,30,30,0.4) 0%, rgba(30,30,30,0.1) 50%),  url('<%= cl_image_path post.photo, crop: :fill %>')">
              <div class="card-description--blue"
                data-hover="Clique aqui para saber mais!">
                <p> <%= post.call %> </p>
               </div>
             </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>




 </div>
</div>
