<div class="testimonials">

  <h2>Quem somos nós<span class="point-orange">?</span></h2>
  <h3>Conheça quem está por trás desta revolução. Sonhamos em mudar para melhor a forma como você se expõe ao risco.</h3>


  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial card-testimonial" style="background-color: #B4B8C5;">
        <img class="card-owner" src="<%= image_path('hbs.JPG')%>">
        <div class="card-description--blue"
          data-hover="Clique aqui para saber mais sobre o nosso CTO!">
          <p>Henrique Silva</p>
        </div>
       </div>
      </div>
    </div>



    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial card-testimonial" style="background-color: #B4B8C5;">
        <img class="card-owner" src="<%= image_path('urso.JPG')%>">
        <div class="card-description--blue"
          data-hover="Clique aqui para saber mais sobre nosso CFO!">
          <p>Thiago Lobato</p>
        </div>
       </div>
      </div>
    </div>



    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial card-testimonial" style="background-color: #B4B8C5;">
        <img class="card-owner" src="<%= image_path('jaba.JPG')%>">
        <div class="card-description--blue"
          data-hover="Clique aqui para saber mais sobre o nosso CEO!">
          <p>Rodrigo Oliveira</p>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
