<div class="testimonials" style="margin-bottom: 80px;
">

  <h2>Quem somos nós<span class="point-orange">?</span></h2>
  <h3>Conheça quem está por trás desta revolução. Sonhamos em mudar para melhor a forma como você se expõe ao risco.</h3>


  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial" style="background-color: #B4B8C5;">
        <img class="card-owner" src="<%= image_path('hbs.JPG')%>">
        <div class="card-description--red"
          data-hover="Graduado em Engenharia de Produção pela UFMG, cursou Le Wagon em Barcelona, após conquistar sua liberdade financeira tem se dedicado a causa no Brasil. Ensinar a investir melhor virou sua obsessão.">
          <p style="font-size:32px;">Henrique Silva</p>
        </div>
       </div>
      </div>
    </div>



    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial" style="background-color: #B4B8C5;">
        <img class="card-owner" src="<%= image_path('urso.JPG')%>">
        <div class="card-description--yellow"
          data-hover="Economista pelo IBMEC e com certificação do CFP. Trabalha no mercado financeiro desde 2008 tendo passado por grandes instituições como Itau BBA, RB Capital dentre outros.">
          <p style="font-size:32px;">Thiago Lobato</p>
        </div>
       </div>
      </div>
    </div>



    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial" style="background-color: #B4B8C5;">
        <img class="card-owner" src="<%= image_path('jaba.JPG')%>">
        <div class="card-description--blue"
          data-hover="Formado em Direito pela UFMG e com MBA pela University of Edinburgh. Atualmente é Gestor de Carteiras de Valores Mobiliários credenciado pela CVM e Chevener.">
          <p style="font-size:32px;">Rodrigo Oliveira</p>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
