<div class="testimonials" style="margin-bottom: -30px">

  <h2>O que falam sobre nós<span class="point-orange">?</span></h2>
  <h3>Conheça a opinião de grandes empreendedores sobre o nosso negócio. Compartilhe conosco também o seu entendimento por <%= link_to "aqui", "/message" %>.</h3>
</div>
  <div class="container" style="margin-bottom: 80px">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">
                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p style="color:black; font-size: 22px;">Acredito que boas startups não devem ser financiadas somente pelos fundadores. Acho muito legal a oportunidade que a |YC| está dando tanto para empreendedores terem acesso a novas fontes de capital como para pessoas comuns participarem deste tipo de investimento que lhes expõe a elevado potencial de retorno. É muito positivo para as empresas contar com tantos  sócios que irão divulgar o seu negócio. Sem dúvida é uma excelente alternativa para seus próximos rounds!</p>
                                        <b>Tallis Gomes - founder Easy Taxi e Singu </b>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p style="color:black; font-size: 22px;">Uma das perguntas que mais escuto das pessoas é "Como faço para investir em Startups?". Até então as oportunidades no Brasil eram restritas a poucos investidores, mas agora com a |YC| o público em geral terá acesso a essa nova modalidade de investimento com alto potencial de ganho e elevado retorno para a sociedade. Simultaneamente empreendedores de valor conseguirão tirar do papel ideias que poderão mudar o mundo!</p>
                                        <b>Israel Salmen - founder e CEO Méliuz</b>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p style="color:black; font-size: 22px;">Boas ideias e times fortes são comuns no empreendedorismo brasileiro que se depara com uma constante, a falta de capital. Captar via a plataforma da |YC| vai dar mais visibilidade ao seu negócio e facilitar a comunicação com uma ampla gama de investidores simultaneamente. Ao democratizar o acesso a investimentos em negócios a |YC| ajuda empreendedores a desenvolverem suas ideias, investidores a se exporem a relações convexas de risco e o Brasil se tornar um lugar melhor para viver, relação ganha-ganha!</p>
                                        <b>Yara Carvalho - founder Ghee Me More e Cosmetologia do Bem</b>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="<%= image_path('tallisgo.jpg')%>" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="<%= image_path('Israelsa.jpg')%>" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="<%= image_path('yarac.jpg')%>" alt="">
                        </li>
                    </ol>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

