<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Material Blog</title>

    <!-- Loading animation -->
    <script src="js/pace.min.js"></script>

    <!-- Bootstrap core CSS and Material Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-material-design.css" rel="stylesheet">
    <link href="css/ripples.min.css" rel="stylesheet">
    <link href="css/material-scrolltop.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/material-blog.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  </head>

  <body>

    <div class="navbar navbar-material-blog navbar-primary navbar-absolute-top">
      <%= render "buttercms/posts/navbar" %>
    </div>

    <div class="container blog-content">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <section class="blog-post">
            <div class="panel panel-default">

              <div class="panel-body">
                <div class="blog-post-content">
                  <h2 class="blog-post-title">Contato</h2>

                  <p>Deixe sua mensagem abaixo que tão logo seja possível lhe retornaremos o contato. Lembramos que dúvidas específicas sobre cada captação deverão ser tiradas no fórum de discussão da própria oferta, a fim de garantir a  equidade de informação a todos os partícipes da rodada. Agradecemos antecipadamente pelo seu interesse.</p>

                  <form class="form-horizontal">
                    <fieldset>
                      <div class="form-group is-empty">
                        <label for="name" class="col-md-2 control-label"> Nome </label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group is-empty">
                        <label for="email" class="col-md-2 control-label">Email</label>
                        <div class="col-md-10">
                          <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group is-empty">
                        <label for="message" class="col-md-2 control-label">Mensagem</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="message" placeholder="Message">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                          <a href="#" class="btn btn-primary">Enviar</a>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </section><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

          <%= render "buttercms/posts/sidebar" %>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->


    <button class="material-scrolltop primary" type="button"></button>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ripples.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/material-scrolltop.js"></script>
    <script src="js/main.js"></script>

    <script>
      $.material.init();
      $('body').materialScrollTop();
    </script>



  </body>
</html>
