<!doctype html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="./styles/styles.css" rel="stylesheet">
  </head>
  <body>
    <!-- BEGIN BLOG HEADER -->
    <div class="section-blog-header">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <h1 style="color:white">MATERIAL DIDÁTICO</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- END BLOG HEADER -->
     <div class="section-blog-post">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="post-container">
               <h1>Conteúdo Didático convexit|YC|apital</h1>
               <div class="post-body">
                <b>Funcionamento da plataforma</b>
                <p> A YCapital, doravante denominada |YC|,  é uma plataforma de investimento participativo (“Plataforma”) que realiza ofertas públicas de valores mobiliários de sociedades empresárias de pequeno porte com dispensa de registro na Comissão de Valores Mobiliários (“CVM”), na forma prevista na Instrução CVM n.º 588, de 13 de julho de 2017 (“ICVM 588”).

                No intuito de orientar os interessados nas ofertas de valores mobiliários através da Plataforma, a YCapital disponibiliza o presente material didático.

                A realização de investimentos através da Plataforma possui sistemática própria e adoção de alguns termos técnicos. Abaixo, descrevemos elas e outras características deste tipo de oferta para melhor compreensão por parte dos interessados.</p>

                <b>Processo de cadastro e investimento</b>
                <p>O investimento por meio da Plataforma deve ser feito através do acesso à página da |YC| na internet. Para isso, o investidor deve acessar www.ycap.com.br e efetuar seu cadastro clicando no botão “Login”, e em seguida preenchendo seus dados no campo “Cadastrar”. Uma vez cadastrado na Plataforma, será possível ao investidor realizar o seu login a qualquer momento no site através do preenchimento de seu e-mail e senha de acesso. Com a utilização de seu e-mail e senha o investidor que efetuar seu login na Plataforma terá acesso à página de Ofertas Disponíveis, na qual constarão todas as captações em aberto e suas características básicas. Caso o investidor queira saber mais a respeito de uma oferta, deverá clicar na oferta para acessar todos os seus detalhes e informações. Em seguida o investidor interessado deve clicar em “Investir”, complementar todos os seus dados em “Editar Perfil”, inserir sua senha atual  e clicar no botão “Atualizar”, por meio do qual atualizará o seu “Perfil”. O investidor deve selecionar o número de quotas que pretende aplicar nesta oferta e ler o termo de ciência de risco e assinalar sua concordância com o mesmo para prosseguir com o investimento. Após isto basta clicar em "Investir" e você será direcionado para a próxima página. Sendo que a Plataforma reconhecerá o valor mínimo definido para a oferta, bem como o valor máximo, estabelecido de acordo com a ICVM 588 e o perfil do investidor para autorizar o investimento. Caso este esteja de acordo com as regras acima descritas o investimento será concluído e aparecerá uma tela com o Resumo dos investimentos e os próximos passos a serem seguidos pelo investidor. Caso contrário o investidor será redirecionado para uma página para: a) se declarar investidor qualificado; ou b)se declarar investidor com renda ou investimento maior que R$100.000,00 ou diminuir o seu investimento a fim de garantir o que fora regulamentado pela ICVM 588. Após a conclusão da etapa acima, o investidor receberá em seu e-mail cadastrado o contrato representativo do investimento, as declarações dos Anexos 4-A, 4-B ou 4-C, conforme o caso, e o Termo de Ciência e Risco aplicável à oferta (“Documentos de Investimento”) para assinatura eletrônica por meio do link da Docusign enviado no e-mail, bem como os dados da conta bancária para realização da transferência do valor a ser investido. Os Documentos de Investimento serão armazenados pela Plataforma pelo período de 5 (cinco) anos e ficarão disponíveis ao investidor durante todo o período de investimento e acompanhamento da oferta.O valor do seu investimento fica com você até o final da rodada quando você irá transferir o valor investido diretamente para a empresa emissora na conta indicada nos Documentos de Investimento.O investimento se confirmará com o efetivo depósito na conta (“Confirmação”). Entretanto o investimento só se concretizará com o alcance do valor mínimo estipulado para a oferta. Caso o valor mínimo da oferta não seja atingido, cada investidor fica desobrigado de integralizar o montante destinado à oferta.</p>
                <b>Declaração do perfil do investidor de acordo com a exigência da IN 588</b>
                <p>Para investidor qualificado, não há limite de investimento. Se você é investidor qualificado e possui mais de R$ 1.000.000 (um milhão de reais) em investimentos financeiros, você não tem restrições nos valores permitidos para investir pela plataforma YCapital. Limite anual de 10% para investidor com investimentos  entre R$ 100 mil e R$ 1 milhão. Se sua renda bruta anual ou o montante de investimentos financeiros estiver entre R$ 100.000
                (cem mil reais) e R$ 1.000.000 (um milhão de reais), o montante total que você pode aplicar em valores mobiliários ofertados com dispensa de registro nos termos da Instrução CVM 588 fica limitado a 10% (dez por cento) do maior destes dois valores por ano-calendário. Limite anual de R$ 10 mil para investidor com até R$ 100 mil em investimentos.Se você não pos sui um montante de investimentos financeiros ou renda bruta anual superior a R$ 100.000 (cem mil reais), o montante total aplicado em valores mobiliários ofertados com dispensa de registro nos termos da Instrução CVM 588 fica limitado a R$ 10.000 (dez mil reais) por ano calendário.</p>
                <b>Processo de desistência do investimento</b>
                <p>O investidor tem o direito de desistir de sua oferta pelo prazo de 7 (sete) dias contados da Confirmação. Neste caso, o investidor deve comunicar sua decisão através do envio de e-mail para contato@ycap.com.br. Em até 5 (cinco) dias úteis contados da comunicação de desistência, o valor destinado à oferta será creditado na conta indicada pelo investidor em seu cadastro, que deverá ser a mesma conta de origem dos recursos.</p>
                <b>Da legalidade das ofertas parciais</b>
                <p>Serão admitidas ofertas parciais, desde que atingido o valor alvo mínimo de captação, a ser definido em cada oferta específica, sendo que o valor alvo mínimo de cada oferta deverá ser igual ou superior a 2/3 do valor máximo da oferta, como determina a ICVM 588.</p>
                <b>Glossário de termos técnicos do contrato de investimento</b>
                <p>
                  <ul>
                    <li>CONTRATO DE MÚTUO: o Contrato de Mútuo nada mais é do que um contrato de empréstimo onde a Mutuante se compromete emprestar recursos e a Mutuária. Este contrato pode ser celebrado entre pessoas físicas ou jurídicas e, caso assinado por duas testemunhas constitui título executivo extrajudicial.</li>

                    <li>MUTUANTE: aquele que empresta recursos por intermédio de um contrato de mútuo.</li>

                    <li>MUTUÁRIO: aquele que recebe um empréstimo por intermédio de um contrato de mútuo.</li>

                    <li>INCORPORADOR: aquele que registra a incorporação de um imóvel e coordena a sua projeção, execução e vendas. O incorporador pode ou não internalizar a tarefa de construir o imóvel. Caso não seja, uma construtora terá de ser contratada para fazê-lo.</li>

                    <li>ANÁLISE DE VIABILIDADE ECONÔMICO-FINANCEIRA: é uma análise dos números do negócio que projeta qual será o custo, a receita estimada, o fluxo de caixa, o lucro, etc.</li>

                    <li>ROI: é a sigla em inglês para “Return Over Investiment”, em português “retorno sobre o investimento”. Se trata de um indicador financeiro que indica percentualmente quanto você ganha com um determinado investimento ao final do período. De uma maneira prática e numérica: caso o seu investimento inicial tenha sido de R$ 1.000,00 e o projeto, independente da duração, tenha demonstrado um ROI de 60%, você receberá um valor final de R$ 1.600,00, menos impostos.</li>

                    <li>TIR: é a sigla para “Taxa Interna de Retorno”. Este indicador, diferente do ROI, leva em consideração o retorno percentual do seu investimento ao longo do tempo, ou seja, ele sempre virá acompanhado de uma indicação de periodicidade ao final. De uma maneira prática e numérica: caso o seu investimento inicial tenha sido de R$ 1.000,00, em um empreendimento de 3 anos e este projeto tenha demonstrado uma TIR de 16,96% ao ano (a.a.) o valor recebido ao final do projeto será de 1.600 reais. Ou seja, a cada ano, o seu dinheiro rendeu 16,96% totalizando um ROI de 60% em todo o período do projeto. Importante perceber ao analisar estes números que a relação entre ROI e TIR não é linear em função do pressuposto de reinvestimento dos ganhos a cada período no cálculo.</li>

                    <li>GANHO DE CAPITAL: é o valor absoluto que o investidor recebe a mais do que o valor que investiu.</li>

                    <li>IGP: calculado pela Fundação Getúlio Vargas (FGV), o IGP (Índice Geral de Preços) é um indicador muito utilizado no Brasil para corrigir contratos e assim protege-los dos efeitos da inflação. O índice leva em consideração os preços ao produtor, ao consumidor e os custos da construção.</li>

                    <li>INCC: também calculado pela FGV, o Índice Nacional da Construção Civil é um indicador da de preços exclusivamente no mercado da construção civil brasileiro. Durante o período de 2011 a 2016, o indicador tem oscilado entre 6% e 8,1%.</li>

                    <li>VGV: significa “Valor Geral de Vendas” e representa a soma do valor de venda de cada uma das unidades de um empreendimento.</li>

                    <li>NOTA CONVERSÍVEL EM AÇÕES
                    Um contrato de investimento na forma de dívida conversível, em que o investidor aporta dinheiro na empresa investida e recebe, em contrapartida, o direito a uma porcentagem definida da participação societária da empresa investida, respeitado certo prazo e/ou condição. Uma nota conversível em ações pode ser convertida em ações da empresa investida no futuro, quando a empresa transforma seu tipo societário para uma Sociedade Anônima.</li>

                    <li>INTERVINIENTES ANUENTES
                    Interveniente é aquele que intervém, ou seja, que participa na negociação. Anuente é que anui, ou seja, que concorda com o negócio. No caso dos contratos de investimento na YCapital, os sócios da empresa investida são os intervenientes anuentes.</li>

                    <li>QUADRO SOCIETÁRIO
                    A lista dos sócios dentro do contrato social da empresa, composta de pessoas físicas e/ou pessoas jurídicas.</li>

                    <li>AÇÕES
                    As ações são valores mobiliários que representam parte do capital social de uma sociedade anônima e assim uma participação societária na empresa.</li>

                    <li>AÇÕES PREFERENCIAIS
                    Uma classe de ações com direitos e obrigações específicas que são diferentes de ações ordinárias.</li>

                    <li>AÇÕES DE EMISSÃO
                    As ações criadas pela empresa investida, após transformação em Sociedade Anônima, por meio das quais a empresa entregará aos investidores sua porcentagem de participação societária da empresa.</li>

                    <li>CAPITAL SOCIAL
                    Capital Social é o valor referido no contrato social ou no estatuto social de uma empresa, correspondente à quantia que os sócios aportaram ou se obrigaram a aportar na empresa, para o início ou a manutenção dos negócios por ela desenvolvidos.</li>

                    <li>AUMENTO DE CAPITAL
                    O aumento do Capital Social da empresa, efetuado por meio da criação de mais cotas, no caso de uma Sociedade Limitada, ou de mais ações, no caso de uma Sociedade Anônima.</li>

                    <li>SUBSCRIÇÃO DE AÇÕES
                    A subscrição de ações é a concordância, por parte de quem já é acionista de uma empresa ou vai se transformar em acionista, com o aumento de capital social com a emissão de novas ações, para obtenção de recursos.</li>

                    <li>INTEGRALIZAÇÃO DE AÇÕES
                    Fato do acionista completar o pagamento de todas as prestações relativas às ações que subscreveu.</li>

                    <li>DIREITO DE PREFERÊNCIA
                    O direito de preferência é o direito que um proprietário de ações ou de direitos sobre ações tem de adquirir novas ações ou direitos sobre ações de uma mesma empresa preferencialmente em relação a outras pessoas.</li>

                    <li>TRANSFERÊNCIA / ALIENAÇÃO DE CONTROLE SOCIETÁRIO
                    Qualquer transferência de quotas ou ações da empresa investida, ou de sociedade que controle direta ou indiretamente a empresa investida, que dê ao seu adquirente (ou conjunto de adquirentes) a possibilidade de controlar (considerando a definição de poder de controle
                    contida no artigo 116 da Lei 6.404/76) a empresa investida.</li>

                    <li>ASSEMBLEIA GERAL
                    A Assembleia Geral é o órgão supremo, formado pelos sócios de um empresa, que é responsável pelas deliberações mais importantes em uma sociedade, como a escolha de seus administradores e a alteração de seu contrato ou estatuto social.</li>

                    <li>ESTATUTO SOCIAL
                    O estatuto social é o contrato a que os acionistas de uma sociedade anônima aderem e que contém as principais regras de funcionamento da empresa, direitos e deveres dos acionistas e administradores.</li>

                    <li>DIREITO DE VENDA CONJUNTA (Tag Along)
                    Um direito que estipula que, em caso de alienação de controle societário da empresa investida, o investidor terá direito a vender ao adquirente do controle a sua participação
                    ao mesmo preço e com as mesmas condições oferecidas aos acionistas controladores.</li>

                    <li>OBRIGAÇÃO DE VENDA CONJUNTA (Drag Along)
                    Um direito que estipula que, em caso de alienação do controle societário da empresa investida, esta (a empresa investida) terá o direito de obrigar o investidor a vender a
                    participação dele ao mesmo preço e segundo as mesmas condições acordadas entre a empresa investida e o adquirente.</li>

                    <li>PRIORIDADE NO REEMBOLSO DE CAPITAL
                    O direito de ser reembolsado antes dos sócios da empresa investida em caso de dissolução da empresa investida.</li>

                    <li>VALOR ECONÔMICO
                    O valor econômico de uma empresa é o seu valor de mercado, ou quanto às pessoas físicas ou jurídicas estão dispostas a sacrificar para obter uma participação na empresa.</li>

                    <li>“POST-MONEY” OU “PÓS-MONEY”
                    O percentual “post-money” ou “pós-money” da empresa é calculado depois da realização do aumento do capital da empresa no valor total do investimento. O valuation “postmoney” ou “pós-money” da empresa é o valor de uma empresa logo após a entrada do aporte de uma rodada de investimento.</li>

                    <li>CORREÇÃO / ATUALIZAÇÃO MONETÁRIA
                    É um ajuste no valor com o objetivo de compensar a perda do poder de compra da moeda em determinado período(inflação).</li>

                    <li>POSIÇÃO JURÍDICA
                    É o conjunto de direitos e deveres que uma pessoa possui, por exemplo, por ter celebrado um contrato.</li>

                    <li>DISSOLUÇÃO
                    A extinção da sociedade empresarial, sem que exista a continuidade das suas atividades.</li>
                  </ul></p>
                  <b>Do risco do investimento -  Aviso de Risco</b>
                  <p>Qualquer investimento em sociedades empresárias de pequeno porte (startups) envolve riscos financeiros e desafios significativos.

                  Você correrá o risco de perder parte ou todo o dinheiro investido em empresas através
                  da plataforma YCapital.

                  Não há qualquer garantia de retorno do investimento efetuado.

                  Somente invista em negócios publicados na plataforma YCapital se você possui conhecimento suficiente para entender esses riscos e para tomar suas próprias decisões de investimento.

                  Esses investimentos devem compor apenas uma pequena parte de uma carteira diversificada de investimentos.

                  A constituição de um portfolio diversificado por parte do investidor é o maior mitigador dos riscos envolvidos no investimento em sociedades empresariais de pequeno porte.

                  Veja o nosso Aviso de Risco antes de tomar uma decisão de investimento.
                  <ul>
                    <li><b>Da mortalidade de empresas de pequeno porte no Brasil</b>
                    <p>Das empresas brasileiras de pequeno porte (EPP) constituídas entre 2008 e 2012, 3% encerraram operações dentro de dois anos; e das microempresas (ME) brasileiras constituídas no mesmo período, 50,4% encerraram operações dentro de dois anos. FONTE: Estudo SEBRAE Sobrevivência das Empresas, 2016</p></li>
                    <li><b>Da dificuldade de se avaliar empresas de pequeno porte/startups</b>
                    <p>Existem dificuldades de avaliação do valor de empresas nascentes (startups) devido à falta de históricos financeiro e operacional para basear os cálculos.</p></li>
                    <li><b>
                      Da inexistência de garantia sobre o retorno do investimento
                    </b>
                    <p>Os retornos potenciais desses valores mobiliários geralmente acontecem a partir de, no mínimo, 4 (quatro) anos depois do aporte, se acontecerem. Não há qualquer garantia de retorno do investimento efetuado</p></li>
                    <li>
                      <b>Da falta de liquidez de um mercado secundário em Startups</b>
                      <p>Os investimentos em empresas nascentes (startups) são altamente ilíquidos, em função do baixo grau de conversão da participação em dinheiro, sem perda substancial de seu valor. É muito pouco provável que o investidor consiga vender sua participação e sair desse investimento antes que a empresa investida seja comprada por outra empresa ou seja listada em uma bolsa de valores. Negociar esse valor mobiliário após a presente oferta também poderá apresentar dificuldades devido à inexistência de um mercado secundário estabelecido para esse tipo de valor mobiliário</p>
                    </li>
                    <li>
                      <b>Da apresentação de resultados por parte da empresa investida</b>
                      <p>A empresa investida tem obrigação de elaborar e enviar um relatório financeiro e gerencial de suas atividades ao investidor a cada 3 (três) meses. Porém, pela parte da empresa investida, não existe nenhuma obrigatoriedade de apresentação de demonstrações contábeis aos investidores nem exigência de auditoria independente das demonstrações.
                      </p>
                    </li>

                    <li>
                      <b>Da inexistência de instituição custodiante dos valores mobiliários</b>
                      <p>Os valores mobiliários adquiridos pelos investidores nessas rodadas não serão guardados por instituição custodiante, caso este serviço não venha a ser contratado pela sociedade empresaria de pequeno porte investida. Assim, a guarda dos valores mobiliários adquiridos será de responsabilidade do próprio investidor.
                      </p>
                    </li>

                    <li>
                      <b>Taxa de Desempenho</b>
                      <p>10% do ganho de capital - O ganho de capital é calculado como o valor recebido pelo investidor na alienação da sua participação menos o valor investido para adquirir sua participação.

Exemplo:

(a) 1º momento: o investidor investe R$ 200.000, mediante a celebração de um Contrato de Investimento em Nota Conversível, que lhe dará direito a receber uma porcentagem definida das ações da empresa investida;

(b) 2º momento: o investidor vende sua porcentagem da empresa investida (ou na forma de seu direito a receber uma porcentagem definida das ações da empresa ou suas ações em si da empresa investida) por R$ 1.200.000, realizando um ganho de capital bruto de R$ 1.000.000.

Nesse caso, a taxa de desempenho para ser paga à YCapital pelo investidor será de R$ 100.000 = 10% x (R$ 1.200.000 –R$ 200.000)
</p>
                    </li>
                  </ul>
                  <p>
                  <b>Consultas, reclamações e denúncias</b>
                  <p>Favor enviar consultas e/ou reclamações:</p>
                  <ul>
                    <li>Via email: contato@ycap.com.br</li>
                    <li>Pela plataforma: https://www.ycap.com.br/contato</li>
                    <li>Caso sua consulta e/ou reclamação não seja atendida satisfatoriamente pela YCapital, ou para o envio de denúncias sobre a plataforma, o investidor pode acessar o Serviço de Atendimento ao Cidadão (SAC) da Comissão de Valores Mobiliários (CVM).</li></p>
                  </ul>

                  </p>






                 <div class="banner-content" style="display: flex; justify-content: center;margin-bottom: 20px;">
                <b><%= link_to "Voltar", :back, class: "btn btn-primary btn-lg", style: "width: 125px; font-size:18px; background-color:red;" %></b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
