<!doctype html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="./styles/styles.css" rel="stylesheet">
  </head>
  <body>
    <!-- BEGIN BLOG HEADER -->
    <div class="section-blog-header">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <h1 style="color:white">TERMO DE CIÊNCIA DE RISCO</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- END BLOG HEADER -->

    <div class="section-blog-post">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="post-container">

              <h1>TERMO DE CIÊNCIA DE RISCO</h1>

              <div class="post-body">
                <p> Declaro que tive acesso às informações essenciais da oferta pública, em especial aos
alertas de risco, e que estou ciente: </p>
                <ol>
                  <li>da possibilidade de perda da totalidade do capital investido em decorrência do insucesso da sociedade empresária de pequeno porte;</li>
                  <li> quando aplicável, do risco advindo da aquisição ou da conversão dos valores mobiliários de que é titular em participação em sociedades empresárias de pequeno porte que, dependendo do tipo societário adotado, podem acarretar riscos ao seu patrimônio pessoal em razão de sua responsabilidade patrimonial limitada não ser reconhecida em decisões judiciais nas esferas trabalhistas, previdenciária e tributária, entre outras;</li>
                  <li>dos riscos associados à detenção de posição minoritária na sociedade empresária de pequeno porte, considerando a influência que os seus controladores possam vir a exercer em eventos corporativos como a emissão adicional de valores mobiliários, alienação do controle ou de ativos, e transações com partes relacionadas;;</li>
                  <li>do risco de crédito da sociedade empresária de pequeno porte, quando da emissão de títulos representativos de dívida;</li>
                  <li>do risco associado às dificuldades que possa enfrentar para vender valores mobiliários de sociedade empresária de pequeno porte não registrada na CVM e que não são admitidos à negociação em mercados regulamentados;</li>
                  <li>de que a sociedade empresária de pequeno porte não é registrada na CVM e que pode não haver prestação de informações contínuas pela sociedade após a realização da oferta; e</li>
                  <li>de que não existe obrigação, definida em lei ou regulamentação, da sociedade empresária de pequeno porte que não seja constituída como sociedade anônima em transformar-se neste tipo de sociedade;</li>
                </ol>
                <div class="banner-content" style="display: flex; justify-content: center;margin-bottom: 20px;">
                <b><%= link_to "Voltar", :back, class: "btn btn-primary btn-lg", style: "width: 125px; font-size:18px; background-color:red;" %></b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
