<!doctype html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="./styles/styles.css" rel="stylesheet">
  </head>
  <body>
    <!-- BEGIN BLOG HEADER -->
    <div class="section-blog-header">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <h1 style="color:white">TERMOS E CONDIÇÕES</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- END BLOG HEADER -->

    <div class="section-blog-post">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="post-container">

              <h1>TERMO DE CIÊNCIA DE RISCO</h1>

              <div class="post-body">
                <p> Declaro que tive acesso às informações essenciais da oferta pública, em especial aos
alertas de risco, e que estou ciente: </p>
                <ol>
                  <li>da possibilidade de perda da totalidade do capital investido em decorrência do insucesso da sociedade empresária de pequeno porte;</li>
                  <li> quando aplicável, do risco advindo da aquisição ou da conversão dos valores mobiliários de que é titular em participação em sociedades empresárias de pequeno porte que, dependendo do tipo societário adotado, podem acarretar riscos ao seu patrimônio pessoal em razão de sua responsabilidade patrimonial limitada não ser reconhecida em decisões judiciais nas esferas trabalhistas, previdenciária e tributária, entre outras;</li>
                  <li>dos riscos associados à detenção de posição minoritária na sociedade empresária de pequeno porte, considerando a influência que os seus controladores possam vir a exercer em eventos corporativos como a emissão adicional de valores mobiliários, alienação do controle ou de ativos, e transações com partes relacionadas;;</li>
                  <li>do risco de crédito da sociedade empresária de pequeno porte, quando da emissão de títulos representativos de dívida;</li>
                  <li>do risco associado às dificuldades que possa enfrentar para vender valores mobiliários de sociedade empresária de pequeno porte não registrada na CVM e que não são admitidos à negociação em mercados regulamentados;</li>
                  <li>de que a sociedade empresária de pequeno porte não é registrada na CVM e que pode não haver prestação de informações contínuas pela sociedade após a realização da oferta; e</li>
                  <li>de que não existe obrigação, definida em lei ou regulamentação, da sociedade empresária de pequeno porte que não seja constituída como sociedade anônima em transformar-se neste tipo de sociedade;</li>
                </ol>
                <h1><b> CÓDIGO DE CONDUTA </b></h1>
                <p> Este código possui como finalidade deixar mais clara a forma de atuação e comportamental dos sócios, administradores e funcionários da YCap referente a ética e integridade dos atos no ambiente empresarial. Tais atos decorrentes das atividades exercidas pela YCap são imprevisíveis portanto esse documento não tem como objetivo limitar as situações mas sim funcionar como um apoio para que sejam tomadas decisões mais coerentes e éticas em cada momento.
                O documento utiliza como princípio a forma como que a YCap foi constituída desde a criação, representando um conjunto de valores e ideias que são intrínsecos à própria instituição e, portanto, aplicáveis a todos que a integram.
                  Conceitos como Liberdade, Transparência, Responsabilidade e Prudência são chaves para o desenvolvimento desse documento. O mercado financeiro, por lidarmos com dinheiros, demanda por si só esses conceitos e condutas. Temos como ideia de que não haja prejuízo desproporcional a nenhum indivíduo que venhamos a interagir. A liberdade sendo o ponto chave nas relações humanas de forma que este código não tem o intuito de limitar a criatividade e capacidade daqueles a quem se aplica, mas sim instruir as condutas no âmbito interno e externo à empresa.
                </p>
                <b>Procedimentos Inaceitáveis:</b>
                <ul>
                  <li>Favorecimento a investidores e tratamento desigual entre eles fornecendo privilégios por conta de vinculo prévio, relação pessoal ou profissional.
                  </li>
                  <li>
                    Agir em desacordo com a legislação vigente ou com a regulamentação aplicável as ofertas públicas de valores mobiliários.
                  </li>
                  <li>
                    Agir em desacordo com qualquer procedimento interno adotado com o intuito de identificar, analisar e mitigar os riscos e práticas de crimes de lavagem de dinheiro ou ocultação de bens direitos e valores e financiamento ao terrorismo.
                  </li>
                  <li>
                    Utilizar-se de informações privilegiadas a respeito do andamento de projetos para desfazer-se antecipadamente de investimentos realizados via plataforma.
                  </li>
                  <li>
                    Fornecer informações privilegiadas a qualquer pessoa a respeito de qualquer projeto captado ou em captação via plataforma.
                  </li>
                  <li>
                    Agir de forma conivente com atitudes ilícitas por parte da sociedade empresária de pequeno porte para com os investidores.
                  </li>
                  <li>Agir de forma contrária ao interesse do investidor de forma a favorecer as empresas que captaram via plataforma.</li>
                </ul>
                <b>
                  Manual para investimento interno:
                </b>
                <ul>
                  <li>Todos os investidores devem estar devidamente cadastrados e com todos os dados obrigatórios preenchidos para realizar o investimento.</li>
                  <li>Caso haja qualquer motivo que leve a acreditar que o investidor falsificou informações ou está se utilizando do investimento para fins ilícitos iremos averiguar a identidade e a idoneidade das transações realizadas pelo usuário no ambiente da plataforma, inclusive buscando entender a origem dos recursos utilizados para realizar o investimento e tomar as medidas cabíveis.</li>
                  <li>Todos os investidores deverão apresentar foto de documento de identificação para que sejam comprovados os dados expostos no cadastro. Adicionalmente, deverá ser enviada “selfie”, ou seja, foto de rosto do investidor, segurando o documento de identificação ao lado. A definição das imagens deverá ser boa o suficiente para que a imagem do documento possa ser comparada ao rosto do investidor e as informações fiquem legíveis.</li>
                  <li>
                    Somente serão confirmados aportes para transferências feitas diretamente de uma conta de titularidade do cadastrado que realizou a reserva do investimento. Nos casos de conta conjunta será exigido comprovação de tal situação.
                  </li>
                  <li>
                    A comprovação da devida identificação do beneficiário final se dará através do sistema de não realizar transferência de rendimentos para contas que não sejam de titularidade do cadastrado.
                  </li>
                  <li>
                    Não serão aceitos depósitos diretamente em caixa sejam eles com ou sem identificação.
                  </li>
                  <li>
                    Para aportes de valores elevados, a identidade do investidor será verificada. Serão realizadas pesquisas a respeito de processos e empresas que existam em nome do investidor.
                  </li>
                  <li>
                    Será verificado se o investidor é pessoa politicamente exposta. Tal dado será registrado e anexado ao seu cadastro. No caso do usuário ser politicamente exposto as suas transações no âmbito da plataforma serão monitoradas de forma que se identifiquem possíveis anormalidades.
                  </li>
                  <li>
                    Será exigida a atualização dos dados sempre que o investidor realizar novo investimento independentemente do valor investido.
                  </li>
                  <li>No caso de investimento de pessoas jurídicas de valores relevantes será realizada pesquisa a respeito da empresa de forma que seja possível identificar o seu quadro societário e os seus principais administradores. No caso de companhias com controle difuso este fato deverá ser mencionado no documento resultante da pesquisa realizada.</li>
                </ul>
                <b>Manual para Disponibilização de Projetos:</b>
                <p>Sempre será verificada a situação patrimonial e legal de todas as empresas com que venha a trabalhar através da emissão de certidões, pesquisa sobre eventuais processos e exigência de documentos contábeis. Ainda, não seremos complacente frente a atos ilícitos de empresas com as quais trabalha. Caso qualquer pessoa ligada a empresa venha a conhecer de tais atos deverá imediatamente comunicar os responsáveis pela Compliance da empresa e/ou as autoridades competentes.</p>
                <b>
                  Conflitos de Interesse e Termos de Investimento para Funcionários e Sócios:
                </b>
                <p>
                  Os funcionários, sócios e administradores da YCap poderão vir a ter informações privilegiadas a respeito de empreendimentos disponibilizados na plataforma. Por este motivo, foram estabelecidos termos diferenciados de investimento para estas pessoas. Os funcionários ou sócios que desejarem realizar investimento através da plataforma devem observar a seguinte restrição:
                </p>
                <ul><li>não poderão vender títulos adquiridos através da plataforma em função do insucesso de projetos antes que todos os demais investidores tenham tido acesso as informações que levaram o funcionário ou sócio a ter interesse em alienar a sua posição.</li></ul>
                <p>Outro conflito de interesse identificado seria em função da remuneração da YCap estar atrelada aos investimentos realizados. Por este motivo, a YCap considera uma conduta inaceitável agir de forma a favorecer as empresas que captaram via plataforma em detrimento do investidor.
                Ainda, temos como um dos pilares da empresa a transparência, de forma que acreditamos que a melhor forma de dar segurança ao investidor quanto às informações fornecidas é disponibilizar os documentos que a sustentam. Desta forma, sempre realizamos a análise de viabilidade dos empreendimentos com informações claras e objetivas, de forma que o investidor poderão consultar exatamente quais as premissas utilizadas para obter a projeção de rentabilidade para o empreendimento.
                A YCap conta com uma alta demanda de projetos buscando recursos, desta forma, o próprio mercado estabelece as nossas prioridades no que diz respeito a clientes. Buscamos sempre estabelecer uma relação de longo prazo e de confiança com os nossos investidores, de forma que se sintam satisfeitos com o investimento realizado e voltem a aportar em projetos disponibilizados.
                </p>
                <b>
                  Regras de Compliance:
                </b>
                <p>O descumprimento destes termos pode acarretar sanções disciplinares e eventual desligamento da empresa, sem prejuízo de eventual condenação no âmbito judicial ou administrativo pelos órgãos competentes. Cabe ao(s) administrador(es) da YCap zelar pelo cumprimento das regras aqui dispostas e gerir o Compliance da empresa.
                A YCap adere à legislação e à regulamentação brasileira, em especial aquela aplicável às ofertas públicas de valores mobiliários. As condutas da empresa serão sempre norteadas pelo ordenamento jurídico brasileiro quando atuando sob a sua jurisdição e, adicionalmente, pelo presente Código de Ética.
                Com relação as pessoas politicamente expostas, serão consideradas todas as pessoas que se enquadrarem no definido no parágrafo primeiro do Art. 1º da Resolução COAF nº 29/2017.
                </p>
                <b>
                  Privacidade:
                </b>
                <p>
                  A YCap, sempre visando o melhor interesse de seus usuários e calcada em princípios de transparência e respeito aos investidores, apresenta aqui sua Política de Privacidade On-Line adotada pelo site em relação à recepção, armazenamento e utilização das informações pessoais disponibilizadas pelos investidores e inscritos, para uso exclusivo da empresa com o objetivo de prestar os serviços oferecidos na plataforma.
                  A utilização dos serviços disponibilizados pela YCap por qualquer usuário implicará em expressa aceitação quanto aos termos e condições da Política de Privacidade vigente na data de sua utilização. Fica a critério da empresa modificar a qualquer momento em que lhe parecerá apropriado esta política, portanto recomendamos que previamente à utilização dos serviços o usuário leia atentamente às condições da mesma. Ressaltamos que qualquer serviço oferecido via site, no que diz respeito à privacidade das informações, está sujeito aos termos dispostos por esta política.
                  Todas as Informações Pessoais (nome completo, e-mail, data de nascimento, CPF, RG, estado civil, CEP, telefone, profissão e eventuais outros) exigidos pela YCap, da inscrição até a confirmação do investimento são para nosso uso exclusivo e não serão fornecidos a terceiros salvo por força de ordem judicial ou com o consentimento expresso do usuário ou ainda no caso de ser indispensável a realização da atividade fim. O fornecimento das informações por parte do usuário constitui autorização para que estas sejam utilizadas com o objetivo de desenvolver as atividades ali propostas.
                  Por fim, visando aprimorar sua experiência enquanto usuário da nossa plataforma, este site utiliza cookies que nos permitem entre outros: fazer anúncios do seu interesse, estruturar campanhas de marketing de acordo com determinados perfis e buscar maior eficiência na nossa comunicação com os usuários. Lembramos que existem dispositivos disponíveis em seu navegador para detectar tais cookies e, se for do seu interesse, impedi-los de agir.</p>







                <div class="banner-content" style="display: flex; justify-content: center;margin-bottom: 20px;">
                <b><%= link_to "Voltar", :back, class: "btn btn-primary btn-lg", style: "width: 125px; font-size:18px; background-color:red;" %></b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
