<div class="summary-container">
  <div class="summary-container--grid">
    <div class="grid-image-left">
      <div class="image-summary-booking">
      </div>
    </div>
    <div class="grid-summary-general-heading">
      <span>Editar post:</span>
    </div>
    <div class="form-post">
      <%= render 'form' %>
    </div>
  </div>
</div>
