<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1445112098124-3e76dd67983c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6f5cb74999ff13210de20e4ee369c7b9&auto=format&fit=crop&w=500&q=60');">
  <div class="banner-content">

    <h3>Receba alertas com as melhores promoções no seu email.</h3>
    <form action="/subscribers/new">

        <input type="submit" class="btn btn-primary btn-lg" value="CADASTRE-SE AQUI!">

    </form>
  </div>
</div>

<div class="banner-booking">
  <div class="banner-booking-content">
    <span style="font-size: 24px;"><%= @post.title %></span>
    <hr>
    <p style="text-align: left;"><%= @post.content %></p>
    <hr>
    <div>
      <p style="text-align: left;">Autor:<%= @post.author %> - Data:<%= @post.date %></p>
    </div>
  </div>
</div>

