<div class="navbar-image" style="background-image: url('https://images.unsplash.com/photo-1456394555490-ef1bf0aedc46?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=828f8fc43a22dc389009b817ba49bae0&auto=format&fit=crop&w=1050&q=80');background-position: center 70%;"></div>

<div class="navbar-wrapper container">
  <div class="navbar-header">

    <a class="navbar-brand" href="/">|YC|</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/about">Sobre nós</a></li>
      <li><a href="/message">Contato</a></li>
      <li><a href="/">Página Principal</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>
</div>
