<footer id="footer">
  <div class="container">
    <p>Qualquer investimento em pequenas empresas envolve riscos financeiros e desafios significativos. Investimentos em startups devem compor apenas uma pequena parcela de um portfólio diversificado de investimentos. Você correrá o risco de perder parte ou todo o dinheiro investido em empresas através da plataforma YC. Não há qualquer garantia de retorno do investimento efetuado. Somente invista em negócios publicados na plataforma se você possui conhecimento suficiente para entender esses riscos e para tomar suas próprias decisões de investimento. Veja o nosso Termo de Risco antes de tomar uma decisão de investimento.

As sociedades empresárias de pequeno porte e as ofertas apresentadas nesta plataforma estão automaticamente dispensadas de registro pela Comissão de Valores Mobiliários - CVM.
A CVM não analisa previamente as ofertas. As ofertas realizadas não implicam por parte da CVM a garantia da veracidade das informações prestadas, de adequação à legislação vigente ou julgamento sobre a qualidade da sociedade empresária de pequeno porte. Antes de aceitar uma oferta leia com atenção as informações essenciais da oferta, em especial a seção de alertas sobre riscos.</p>
  </div>
</footer>
